# Node.js
node_modules/
dist/

# Python
__pycache__/
*.pyc
venv/
env/
log_files/

# Logs
*.log

# IDE/Editor
.vscode/
.idea/

# System files
.DS_Store

TRACIE-GUI/rubbish/
TRACIE-GUI/log_files
TRACIE-GUI/OpenLayerMap/log_files_map