# Node.js
node_modules/
dist/

# Python
__pycache__/
*.pyc
venv/
env/
log_files/

# Logs
*.log

# IDE/Editor
.vscode/

# System files
.DS_Store

TRACIE-GUI/rubbish/
TRACIE-GUI/OpenLayerMap/Helpful_Text/
TRACIE-GUI/OpenLayerMap/node_modules/

# Ignore all contents of log_files_map & dist but keep the folders
TRACIE-GUI/log_files/*
!TRACIE-GUI/log_files/.gitkeep

TRACIE-GUI/OpenLayerMap/log_files_map/*
!TRACIE-GUI/OpenLayerMap/log_files_map/.gitkeep

TRACIE-GUI/OpenLayerMap/dist/*

